@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ofertador</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("elmMain.js")" type="text/javascript"></script>
    </head>
    <body>
        <h2></h2>
        <div id="app"></div>
        <script type="text/javascript">
                //Elm.Main.embed(document.getElementById("app"));

                var storedState = localStorage.getItem('post-app-save');
                console.log("Retrieved state: ", storedState);
                var startingState = storedState ? JSON.parse(storedState) : null;

                var app = Elm.Main.fullscreen(startingState); //init elm app

                // store port
                app.ports.elmStore.subscribe(function(posts) {
                    if (posts.length > 0) {
                        var postsJson = JSON.stringify(posts);
                        localStorage.setItem('post-app-save', postsJson);
                        console.log("Saved state: ", postsJson);
                    }
                });


                // store filereader
                app.ports.fileSelected.subscribe(function (id) {
                    var node = document.getElementById(id);
                    if (node === null) {
                        return;
                    }
                    var file = node.files[0];
                    var reader = new FileReader();

                    reader.onload = (function(event) {
                        var base64encoded = event.target.result;
                        var portData = {
                            contents: base64encoded,
                            filename: file.name
                        };

                        app.ports.fileContentRead.send(portData);
                    });

                    reader.readAsDataURL(file);
                });


        </script>
    </body>
</html>
